<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Handloom</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="asset/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="asset/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="asset/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="asset/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="asset/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="asset/vendors/owl-carousel-2/owl.theme.default.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="asset/css/style.css">
  <!-- End layout styles -->
  <!-- <link rel="shortcut icon" href="/assets/images/favicon.png" /> -->
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="index.html">Handloom</a>
        <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="asset/images/logo-mini.svg" alt="logo"
            style="width:50%; height:auto;" /></a>
      </div>
      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <!-- <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="/assets/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div> -->

            </div>
            <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
          </div>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/admin">
            <span class="menu-icon">
              <i class="mdi mdi-speedometer"></i>
            </span>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/userMngt">
            <span class="menu-icon">
              <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">User Managment</span>
          </a>
        </li>

        <li class="nav-item menu-items">
          <a class="nav-link" href="/orderMngt">
            <span class="menu-icon">
              <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Order Managment</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="/productMngt" aria-expanded="false"
            aria-controls="ui-basic">
            <span class="menu-icon">
              <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Product Managment</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/categoryMngt">
            <span class="menu-icon">
              <i class="mdi mdi-table-large"></i>
            </span>
            <span class="menu-title">Category Managment</span>
          </a>
        </li>
        <!-- <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="/couponMngt" aria-expanded="false"
            aria-controls="auth">
            <span class="menu-icon">
              <i class="mdi mdi-security"></i>
            </span>
            <span class="menu-title">Coupon Managment</span>
          </a>
        </li> -->

        <!-- <li class="nav-item menu-items">
          <a class="nav-link" href="/bannerMngt">
            <span class="menu-icon">
              <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Banner Managment</span>
          </a>
        </li> -->

      </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="asset/images/logo-mini.svg"
              alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
              <h3 style="color: rgb(126, 126, 126); padding-top:15px; ">Add Product</h3>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown border-left">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown"
                aria-expanded="false">
                <i class="mdi mdi-email"></i>
                <span class="count bg-success"></span>
              </a>
            </li>
            <li class="nav-item dropdown border-left">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                data-toggle="dropdown">
                <i class="mdi mdi-bell"></i>
                <span class="count bg-danger"></span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                <div class="navbar-profile">
                  <img class="img-xs rounded-circle" src="asset/images/faces/face15.jpg" alt="">
                  <p class="mb-0 d-none d-sm-block navbar-profile-name">Admin</p>
                  <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                </div>
              </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
          </button>
        </div>
      </nav>
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
              <div class="row w-100 m-0">
                <div class="content-wrapper "
                  style=" display: flex; justify-content: center; align-items: center; background-color:#000000;">
                  <div style="width:50vw; background-color: black;">
                    <div style="width: 50vw; padding: 30px;">
                      <h3 style="margin-left:230px; margin-bottom:20px;">Add Product</h3>
                      <form id="addProductsForm" action="/addProducts" method="post"
                        enctype="multipart/form-data">

                        <div class="row">

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Name</label>
                              <input type="text" name="name" class="form-control p_input">
                            </div>
                          </div>


                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="Category">Category</label>

                              <select class="form-control p_input" name="category" placeholder="category" required>
                                <% categories.forEach((item)=>{ %>
                                  <option value="<%=item.category  %>">
                                    <%= item.category %>
                                  </option>
                                  <% }) %>

                              </select>

                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Quantity</label>
                              <input type="text" name="quantity" class="form-control p_input">
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>MRP</label>
                              <input type="text" name="mrp" class="form-control p_input">
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Brand</label>
                              <input type="text" name="brand" class="form-control p_input">
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Price</label>
                              <input type="text" name="price" class="form-control p_input">
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Description</label>
                              <textarea class="form-control p_input" name="description" rows="4" form="addProductsForm"
                                placeholder="Description"></textarea>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Main Images</label>
                              <input class="form-control p_input" type="file" name="images" accept="image/*" multiple>
                            </div>
                          </div>

                         
                        <div class="card mb-4"></div>

                          <div class="image-preview-container">
                            <label class="image-preview-label">Preview:</label>
                            <div id="image-preview" class="image-preview"></div>
                          </div>

                          <div>
                            <button id="crop-button" class="btn btn-primary">Crop Images</button>
                          </div>
                          <div id="cropped-images"></div>

                          <input type="hidden" name="croppedImages" id="cropped-images-input" value="">

                        </div>

                        <% if(typeof fieldRequired !='undefined' ){ %>
                          <b style="color: rgb(230, 24, 24); margin-left: 20px;">
                            <%= fieldRequired %>
                          </b>
                          <% } %>


                        <div class="text-center">
                          <button type="submit" class="btn btn-primary btn-block enter-btn">Add</button>
                        </div>

                      
                      </form>
                    </div>

                  </div>
                </div>
                <!-- content-wrapper ends -->
              </div>
              <!-- row ends -->
            </div>
            <!-- page-body-wrapper ends -->
          </div>


        </div>
      
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            const imageInput = document.querySelector('input[name="images"]');
            const imagePreview = document.querySelector('#image-preview');
            const cropButton = document.querySelector('#crop-button');
            let croppers = [];
        
            imageInput.addEventListener('change', function(e) {
              if (e.target.files && e.target.files.length > 0) {
                imagePreview.innerHTML = ''; // Clear previous previews
        
                Array.from(e.target.files).forEach(function(file) {
                  const reader = new FileReader();
                  reader.onload = function(event) {
                    const imageElement = document.createElement('img');
                    imageElement.src = event.target.result;
                    imageElement.classList.add('image-preview');
                    imagePreview.appendChild(imageElement);
        
                    const cropper = new Cropper(imageElement, {
                      aspectRatio: 1, // Set the aspect ratio of the crop box
                      viewMode: 1, // Set the crop box to restrict the image within the container
                    });
        
                    croppers.push(cropper);
                  };
                  reader.readAsDataURL(file);
                });
              }
            });
        
            cropButton.addEventListener('click', function() {
              document.querySelector('#cropped-images').innerHTML = ''; // Clear previous cropped images
        
              croppers.forEach(function(cropper) {
                const canvas = cropper.getCroppedCanvas();
                const croppedImage = document.createElement('img');
                croppedImage.src = canvas.toDataURL();
                croppedImage.classList.add('croppedImages');
                document.querySelector('#cropped-images').appendChild(croppedImage);
                cropper.destroy();
  
              });
        
              croppers = []; // Reset the croppers array
            });
          });
        </script>
      </body>
</html>